*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main1{
    width: 40%;
}
.main2{
    width: 40%;
    padding: 10px;
    
}
.main3{
    width: 20%;
    padding: 20px;
    margin-top: 2%;
    padding-left: 36px;
}
.main3 img{
    width: 170px;
    padding-bottom: 10px;
}
.main2 img{
    width: 500px;
    position: relative;
    float: right;
    padding-top: 35px;
}
.section1{
    width: 380px;
    margin-left: 10%;
    margin-top: 10%;

}
.section1 p{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;

}
.section2{
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 50px;
    background: #1E1E1E;
    margin-left: 10%;
    margin-top: 5px;

}
.section2 button{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    background: #1e1e1e;
    border: none;
    color: white;
}
.section3{
    width: 380px;
    height: 186px;
    padding: 22px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: whitesmoke;
}
.section3 h4{
    font-size: 16px;
    font-weight: 600;
}
.section3 p{
    font-size: 14px;
    padding-top: 20px;
}
.section3 button{
    padding: 8px;
    width: 150px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: -22px;
}
